.MapSearchButton{
    border:0px none;
    BACKGROUND: url('../../images/operation-bar.png') -609px -8px;
    width: 61px;
    height: 28px;
    cursor: pointer;     
}
.MapCancelSearchButton{
    border:0px none;
    BACKGROUND: url('../../images/operation-bar.png') -545px -8px;
    width: 88px;
    height: 28px;
    cursor: pointer;  
    
}

.progress
{
    BACKGROUND-IMAGE: url('../../images/op_icons/ProgressBar.gif');
    width:150px;
    height: 10px;
    BACKGROUND-REPEAT: no-repeat;
    
}
.removeButtonSmall
{
background-color: transparent;
    background-image: url("../../../../app/media/images/delete-link.png");
    background-repeat: no-repeat;
    border: 0 none;
    height: 20px;
    margin-right: 25px;
    width: 82px;
               }
 .addButtonSmall
{
 background-color: transparent;
    background-image: url("../../../../app/media/images/add-link.png");
    background-repeat: no-repeat;
    border: 0 none;
    height: 20px;
    width: 82px;
               
               }

.iconDetail
{
    border:0px none; BACKGROUND-IMAGE: url('../images/green-circle.gif');
    WIDTH: 14px; 
    CURSOR: hand; 
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 14px;
    BACKGROUND-COLOR: transparent
}
.iconString
{

    color: #000000; font-family: Tahoma; font-size: 8pt; height: 24px;         
    text-align:right; 
    padding-left:0px; padding-right:0px;
    right: auto;         
    width: 100%;
    border:0px none; 
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-COLOR: transparent;
}
.divContent1Fixed
{
    width:100%;
    height:240px;
    overflow:auto;
}

.divContent1Dynamic
{
    width:100%;
}        
.mastertextbox
{
color: #000000; font-family: Tahoma; font-size: 11pt; width: 130px; height: 25px; 
               border: 1px solid #CCD0D6; background-color: #FFFFFF}
.mastertextboxmedium
{
color: #000000; font-family: Tahoma; font-size: 11pt; width: 200px; height: 25px; 
               border: 1px solid #CCD0D6; background-color: #FFFFFF}
.mastertextboxlarge
{
color: #000000; font-family: Tahoma; font-size: 11pt; width: 280px; height: 25px; 
               border: 1px solid #CCD0D6; background-color: #FFFFFF}
.mastertextboxsmall
{
color: #000000; font-family: Tahoma; font-size: 11pt; width: 60px; height: 25px; 
               border: 1px solid #CCD0D6; background-color: #FFFFFF}
.subject
{
color: #BD8B38; font-family: Verdana; font-size: 9pt; font-weight: bold; 
               padding-left: 8px}
.textboxmedium{
    background:#FFFFFF;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #000000;
    color: #1d7cbf;
    font-family: Tahoma;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    width: 235px;
    height: 23px;
    }              
.cssButtonlarge
{
color: #00274E; width: 180px; height: 18px; border: 1px solid #AF853E; 
               background-color: #EFB34F; font-family:Tahoma; font-size:8pt;               
               }
.standardTable_Header
{
border-bottom:1px solid #FFFFFF; color: #FFFFFF; font-family: Tahoma; font-size: 8pt; font-weight: 600; 
               height: 24; background-color: #094079; background-image: 
               url('../../images/gheadgrid.jpg'); background-repeat: repeat-x; border-left-width:1px; border-right-width:1px; border-top-width:1px;text-decoration:none;
               padding: 0;
               }
/*.msg
{
font-family: Tahoma; font-size: 8pt; color: #EB8E3B; font-weight: 600; padding-top:4px; padding-bottom:4px; border: 0; height: 25px;text-align: center;vertical-align: middle;}*/
.noDatamsg
{
font-family: Tahoma; font-size: 8pt; color: #EB8E3B; font-weight: 600; padding-top:4px; padding-bottom:4px; border: 0; width: 800px; height: 25px;text-align: center;vertical-align: middle;}
.errMsg
{
font-family: Tahoma; font-size: 8pt; color: Red;  padding-top:0px; padding-bottom:0px;border: 0; height: 0px;text-align: center;vertical-align: middle;/* modified by sherif.omar 4,4,25*/}
.lable01
{
color: #0B2B4A; font-family: Tahoma; font-size: 8pt; padding-top: 3px; 
               padding-bottom: 3px}
.map_scroller
{
border:1px solid #C4CAD2; background-color: #DFE3E7; color: #001F3E;text-decoration: none;font-family: Tahoma; text-align: center;}     
.number
{
font-family: Tahoma; font-size: 8pt; color: #800000; font-weight: 600; padding-bottom:4px}

 gpaging
{
border:1px solid #CCD4DB; background-color: #EAEEF2}
a.paging
{
font-family: Tahoma; color: #001F3E; font-size: 8pt; text-decoration:none 
}
a:hover.paging
{
font-family: Tahoma; color: #001F3E; font-size: 8pt; text-decoration:none 
}
cssButtonAdd
{
color: #00274E; width: 52px; height: 52px; border: 1px solid #AF853E;  background-image: url('../images/addmain.jpg'); 
               background-color: #EFB34F; font-family:Tahoma; font-size:8pt}
               cssButtonDelete
{
color: #00274E; width: 32px; height: 14px; border: 1px solid #AF853E;  background-image: url('../images/delete.gif'); 
               background-color: #EFB34F; font-family:Tahoma; font-size:8pt}
               .iconEditInput
{
    border:0px none; BACKGROUND-IMAGE: url('../images/edit.gif');
    WIDTH: 41px;
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 17px;
    BACKGROUND-COLOR: transparent
}
.gicobar
{
border-left:1px solid #0D447D; border-right:1px solid #0D447D; border-bottom:1px solid #0D447D; background-color: #A6BACD; background-image: 
               url('../images/gbarico.jpg'); background-repeat: repeat-x}
.texticon
{
font-family: Verdana; color: #002245; font-size: 8pt; font-weight: bold}

.iconShowDetail
{
    border:0px none; BACKGROUND-IMAGE: url('../images/showdetails.gif');
    WIDTH: 41px;
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 17px;
    BACKGROUND-COLOR: transparent
}
.standardTable_RowHighlighted
{
color: #032548; height: 24; font-family: Tahoma; font-size: 8pt; 
              border-left-width: 1px; border-right-width: 1px; 
              border-top-width: 1px; border-bottom: 1px solid #FFFFFF; 
              background-color: #F2CB8A}
			   



.iconCircle
{
    border:0px none; BACKGROUND-IMAGE: url('../images/circle.gif');
    WIDTH: 41px;
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 17px;
    BACKGROUND-COLOR: transparent
}
.texticon
{
font-family: Verdana; color: #002245; font-size: 8pt; font-weight: bold}
.row04
{
color: #000000; font-family: Tahoma; font-size: 8pt; height: 24px; vertical-align:middle;
  }
.iconEdit
{
    border:0px none; BACKGROUND-IMAGE: url('../images/edit2.gif');
    WIDTH: 18px;
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 17px;
    BACKGROUND-COLOR: transparent;
    text-align: center;
}
.iconEditForTree
{
    border:0px none; BACKGROUND-IMAGE: url('../images/edit.gif');
    WIDTH: 41px;
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 17px;
    BACKGROUND-COLOR: transparent;
    text-align: center;
}
.col1
{
   width: 130px;
   vertical-align: top;
}
.col2
{
   
   vertical-align: top;
}
.mandatoryAsterisk {
   color:#FF0000;    font-size: 8pt; padding-left: 5px; padding-right: 5px;
}
.divSearch
{
    position:absolute;top:40px;left=220px;width:500px;visibility=hidden;
    
    z-index:100;
}
.divIframe
{
    position:absolute;
    top:0; 
    left:0; 
    width:908px; 
    height:545px; 
    transparent:true; 
    filter:alpha(opacity=30); 
    opacity:0.30; 
    visibility=hidden;
    z-index:98;
}
.divDetails
{
    position:absolute;top:150px;left=50px;width:450px;visibility=hidden;
}
.lookupDivTitle{
    color:#0B2B4A;font-family:Tahoma;font-size:9pt;font-weight:bold;
}
.JSCookMenuDisabled
{
 
    color: #cccccc;
}
.JSCookMenuEnabled
{
 
    color: #000000;
}
.delDivScroll {
    direction: rtl;
    display: block;
    height: 195px;
    margin-top: 10px;
    overflow: auto;
    width: 490px;
}
.mapped_info_message {
	font-family: tahoma;
	font-size: 11px;
	color: #373737;        
	background-image: url("../../images/div/icon_search_info.jpg");
	background-repeat: no-repeat;
	padding-left: 20px;
	text-align: right;
	vertical-align: middle;
	background-position: right;
}
.divMainContentMany
{
    height:145px;

}
/* This class moved to app\media\css\ar\Style.css */
/*
.divMainContent
{
    height:245px;;
    overflow:auto;
}
*/

.map_scroller2
{
border:0px solid #C4CAD2; text-decoration: none;font-family: Tahoma; text-align: center;}     

.addDivStyle
{
    position:absolute;top:10px;right: 22%;width:500px;visibility:hidden;
    z-index:100;
}

.QulImg{
    background: url('../../images/homepage/map.icon.png') no-repeat !important;
    height: 174px !important;
    width: 244px !important;
    margin-left: 37px !important;
    margin-top: 255px !important;
}
.standardTable_RowHighlighted .iconString {
    color: #ffffff !important;
}
